
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--dark);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background: var(--light);
    transform: scale(.98);
}

.btn-outline {    
    border: 1px var(--primary-color) solid;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.container {
    max-width: 80%;
    margin: 0 auto; /*0 - top bottom, auto - left right*/
    overflow: auto; /*fixed the white space at top*/
    padding: 0 40px;
}

.faded-img {
    opacity: 0.5;
}

.flex {
    display: flex;
    justify-content: center; /*align horizontal if row*/
    align-items: center; /*align vertically if row*/
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.my-1 {
    margin: 0.5rem 0;
}

.my-2 {
    margin: 1rem 0;
}

.my-3 {
    margin: 1.5rem 0;
}

.my-4 {
    margin: 2rem 0;
}

.my-5 {
    margin: 3rem 0;
}


.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 3rem;
}

.py-1 {
    padding: 0.5rem 0;
}

.py-2 {
    padding: 1rem 0;
}

.py-3 {
    padding: 1.5rem 0;
}

.py-4 {
    padding: 2rem 0;
}

.py-5 {
    padding: 3rem 0;
}

.text-center {
    text-align: center;
}


@media (max-width: 800px){

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-content .grid,
    .footer .grid,
    .footer .grid-3,
    .footer {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }   

    .container {
        max-width: 780px;
    }
}
